<section>
    <h1>About FW/1</h1>
    <p>FW/1 - Framework One - is a family of small, lightweight, convention-over-configuration frameworks, primarily for CFML. FW/1 itself provides MVC, DI/1 provides dependency injection (a.k.a. inversion of control), and AOP/1 provides aspect-oriented programming features on top of DI/1.</p>
    <p>For support and assistance, join <a href="http://groups.google.com/group/framework-one/">the FW/1 mailing list</a> and/or the <a href="https://gitter.im/framework-one/fw1">FW/1 room on Gitter</a>. There is also a Gitter room for <a href="https://gitter.im/framework-one/architecture">FW/1 (and MVC) architectural discussions</a>. You can sign into Gitter with either your Gitter or Twitter account.</p>
    <p>The main FW/1 Gitter room is also mirrored to the <a href="https://cfml.slack.com/messages/fw1/">FW/1 channel</a> on the <a href="http://cfml-slack.herokuapp.com/">CFML Slack</a> (that's the link to get an invite to sign up for the Slack).</p>
</section>
<section>
    <h1>4.0 Documentation (current - master)</h1>
    <a href="/documentation/4.0/">Getting Started Guide</a><br />
    <a href="/documentation/4.0/developing-applications.html">Developing Applications Guide</a><br />
    <a href="/documentation/4.0/using-aop-one.html">Using AOP/1</a><br />
    <a href="/documentation/4.0/using-di-one.html">Using DI/1</a><br />
    <a href="/documentation/4.0/using-subsystems.html">Using Subsystems</a><br />
    <a href="/documentation/4.0/reference-manual.html">Reference Manual</a><br />
    <a href="/documentation/4.0/cfml-and-clojure.html">Mixing CFML &amp; Clojure</a><br />
    <a href="/documentation/4.0/changes.html">Change Log</a><br />
    <a href="/documentation/4.0/roadmap.html">Roadmap</a><br />
</section>
<section>
    <h1>3.5 Documentation</h1>
    <a href="/documentation/3.5/">Getting Started Guide</a><br />
    <a href="/documentation/3.5/developing-applications.html">Developing Applications Guide</a><br />
    <a href="/documentation/3.5/using-aop-one.html">Using AOP/1</a><br />
    <a href="/documentation/3.5/using-di-one.html">Using DI/1</a><br />
    <a href="/documentation/3.5/using-subsystems.html">Using Subsystems</a><br />
    <a href="/documentation/3.5/reference-manual.html">Reference Manual</a><br />
    <a href="/documentation/3.5/cfml-and-clojure.html">Mixing CFML &amp; Clojure</a><br />
    <a href="/documentation/3.5/roadmap.html">Roadmap</a><br />
</section>
<section>
    <h1>3.1 Documentation</h1>
    <a href="/documentation/3.1">Getting Started Guide</a><br />
    <a href="/documentation/3.1/developing-applications.html">Developing Applications Guide</a><br />
    <a href="/documentation/3.1/using-aop-one.html">Using AOP/1</a><br />
    <a href="/documentation/3.1/using-di-one.html">Using DI/1</a><br />
    <a href="/documentation/3.1/using-subsystems.html">Using Subsystems</a><br />
    <a href="/documentation/3.1/reference-manual.html">Reference Manual</a><br />
    <a href="/documentation/3.1/roadmap.html">Roadmap</a><br />
</section>
<section>
    <h1>3.0 Documentation</h1>
    <a href="/documentation/3.0">Getting Started Guide</a><br />
    <a href="/documentation/3.0/developing-applications.html">Developing Applications Guide</a><br />
    <a href="/documentation/3.0/using-di-one.html">Using DI/1</a><br />
    <a href="/documentation/3.0/using-subsystems.html">Using Subsystems</a><br />
    <a href="/documentation/3.0/reference-manual.html">Reference Manual</a><br />
    <a href="/documentation/3.0/roadmap.html">Roadmap</a><br />
</section>
<section>
    <h1>4.1 Documentation (next - develop)</h1>
    <a href="/documentation/4.1/">Getting Started Guide</a><br />
    <a href="/documentation/4.1/developing-applications.html">Developing Applications Guide</a><br />
    <a href="/documentation/4.1/using-aop-one.html">Using AOP/1</a><br />
    <a href="/documentation/4.1/using-di-one.html">Using DI/1</a><br />
    <a href="/documentation/4.1/using-subsystems.html">Using Subsystems</a><br />
    <a href="/documentation/4.1/reference-manual.html">Reference Manual</a><br />
    <a href="/documentation/4.1/changes.html">Change Log</a><br />
    <a href="/documentation/4.1/roadmap.html">Roadmap</a><br />
</section>
