<section>
    <h1>About FW/1</h1>
    <p>FW/1 - Framework One - is a family of small, lightweight, convention-over-configuration frameworks, primarily for CFML. FW/1 itself provides MVC, DI/1 provides dependency injection (a.k.a. inversion of control), AOP/1 extends DI/1 to provide aspect-oriented programming.</p>
    <p>In addition, the family includes cfmljure, an easy way to integrate Clojure code into your CFML application, and a port of FW/1 to Clojure as well as a Leiningen template for creating FW/1 projects in Clojure.</p>
</section>
<section>
    <h1>Documentation</h1>
    <a href="/documentation">Getting Started Guide</a><br />
    <a href="/documentation/developing-applications.html">Developing Applications Guide</a><br />
    <a href="/documentation/using-subsystems.html">Using Subsystems</a><br />
    <a href="/documentation/reference-manual.html">Reference Manual</a><br />
    <a href="/documentation/roadmap.html">Roadmap</a><br />
</section>
